 /* EXTEND */

 .primerEstilo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: right;
}

.segundoEstilo {
    @extend .primerEstilo;
    font-size:  35px;

}