$redes-media:(twitter: red, telegram: blue, facebook:yellow);

@each $name-media, $value-media in $redes-media{
    .redes-#{$name-media}:hover {

        fill: $value-media;
        transition: all 0.5s;
    }
}

/* MAP - GET*/

$textoRedes:(color: red, tamfuente: 30px);

.btn-botoon{
    background-color: red = map-get($map:$textoRedes, $key=color);
    font-size: map-get( $map:textoRedes,$key:tamfuente);
}

